<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Main</title>
</head>
<body>
    <div>
    <a href="registration/">Registration</a>
    </div>
    
    <div>
    <a href="view_login/">Login</a>
    </div>

    <div>
    <a href="room/">Room</a>
    </div>

    
    {% if user != 0 %}
    <div>
    <a href="short_description/">Create add</a>
    </div>

    
    {% else %}
    <div>
    <a href="/">Create add</a>
    </div>

    
    {% endif %}
    <!-- <a href="http://127.0.0.1:8000/generate/create/{{link}}">Link</a> -->
    
</body>
</html>