<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Opros</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <h3>Username:<br> <input name="username" required /></h3>
        <h3>First_name:<br> <input name="first_name" required /></h3>
        <h3>Last_name:<br> <input name="last_name" required /></h3>
        <h3>Email:<br> <input name="email" required /></p>
        <p>Password:<br> <input name="password" required /></p>
        <p>Password_copy:<br> <input name="password_copy" required /></p>
        <input type="submit" value="Send" />
    </form>
</body>
</html>